
.SearchBox{
    background: #fff;
}

.SearchField{
    border-radius: 0;
    border-style:solid;
    border:0 none;
    padding: 1em 0.5em;
    font-size: 2em;
    min-height: 2em;
    font-family: 'Roboto', sans-serif; 
    color:#666;
    box-shadow: 0;
    box-shadow: inset 0px 0px 0px 0px #fff;
}

.SearchField:focus{
    outline: none;
}

.SearchResultTitle{
    margin-bottom: 1.5em;
}

.SearchResultItem{
    margin-bottom: 30px;
} 

.SearchResultItem .SearchResultItemContent{
    background-color: #fff;
    padding: 15px;
}

.SearchResultItem .SearchResultImage{
    padding:0;
    cursor: pointer;
}

.SearchResultData{
    text-align: left;
}

.BookAuthor{
    color: #666;
}

.BookTitle{
    margin:0.5em 0;
    font-size: 1.6em;
    font-weight: bold;
}

.BookDescription{
    margin-bottom: 1em;
    display: block;
}

.action-bt{
    display: inline-block;
    background-color: #0066ff;
    color:#fff;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1;
    padding: 0.6em;
    width: 120px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px; 
}

.action-bt:hover{
    text-decoration: none;
    color: #fff;
    background-color: #003380;
}

.FavoriteButton.action-bt{
    background-color: #e7e7e7;
    color:#666;
}

.FavoriteButton.action-bt:hover , .FavoriteButton.action-bt.isFavorite{
    background-color: #ff9900;
    color:#fff;
}

.SearchResultItemDetails{
    padding: 15px;
    border-top:1px solid #ccc;
    margin-top: 15px;
}

.SearchResultPagination .nav-bt , .SearchResultPagination .page-ind{
    font-size: 1.3em;
    font-weight: bold;
    
    padding: 10px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}

.SearchResultPagination .page-ind{
    width:auto;
    background: #e7e7e7;
    color:#666;
}