/* Importando fonte Roboto do google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif; 
  background: #f5f5f5;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 2em 0;
  color:#fff;
  border-bottom: 1px solid #e7e7e7;
}

.App-logo{
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

section{
  padding: 2em 0;
}
